
# Copyright (c) 2018 embed-dsp
# All Rights Reserved

# $Author:   Gudmundur Bogason <gb@embed-dsp.com> $
# $Date:     $
# $Revision: $

# Directories
build*/
dist/
install/
work/
tmp/
__pycache__/

# Backup files
*~

# Python bytecode files
*.pyc

# Object files
*.o

# Java class files
*.class

# Misc files
*.tar.gz
*.deb
